html {
    scroll-behavior: smooth;
}

.animate {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .animate {
        transition: none;
    }
}

header {
    height: 500px;
}

.fa ,.fa-star {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    color:white ;
}
img {
    display: block
}
.card-footer {
    font-size: 22px;
    font-weight: bold;
}
.navbar .navbar-nav .nav-link {
    font-size: 1.1em;
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding-left:30px;
    padding-right:30px;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
}

#proj-link {
    text-decoration: none;
    color: #0e172c;
}

.card {
    text-align: center;
}
